.auth {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4.4rem;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__leftSection {
        gap: 2.4rem;
    }

    &__logo {
        width: 4.4rem;
        height: 4.4rem;
    }

    &__appName {

        h1 {
            font-size: $font-title;
            background-color: red;

            background-image: $buttonBg;
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        h6 {
            font-size: $font-extra-small;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;

        &>div {
            display: flex;
            gap: 1.4rem;
            height: 4.4rem;
            width: 90%;
        }

        &--signup {
            background-color: $cardColor;
            border-radius: 1.4rem;
            padding: 1.4rem;

            &>div {
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__input {
        border: none;
        outline: none;
        background-color: $inputColor;
        border-radius: .8rem;
        padding: 2rem;
        flex: 1;
    }

    &__signupMsg {
        font-size: $font-small;
    }

    &__button {
        width: 8.4rem;
        height: 3.4rem;

        &--signup {
            align-self: flex-end;

        }
    }

}