.app {
  overflow: hidden;
  color: $black;
  background-color: $backgroundColor;
  padding: 1.4rem 1.4rem;

  &__blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: $blurBgColor;
    filter: blur(72px);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    border: none;
    outline: none;
    border-radius: .5rem;
    background: $buttonBg;
    transition: all 100ms ease-out;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $orange;
      background: transparent;
      border: 1px solid $orange;
    }
  }
}