.profilePage {
    position: relative;
    display: grid;
    grid-template-columns: 30rem auto 34rem;
    gap: 1.4rem;

    &__center {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    }
}